openapi: 3.1.0
info:
  title: API Reference agents workspace API
  version: 1.0.0
servers:
- url: https://api.phonic.ai/v1
  description: https://api.phonic.ai/v1
tags:
- name: workspace
paths:
  /workspace:
    get:
      operationId: get
      summary: Get
      description: Returns information about the workspace.
      tags:
      - workspace
      parameters:
      - name: Authorization
        in: header
        description: Bearer authentication header of the form `Bearer <PHONIC_API_KEY>`. Manage your API keys [here](https://phonic.co/api-keys).
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workspace_get_Response_200'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
    patch:
      operationId: update
      summary: Update
      description: Updates the workspace.
      tags:
      - workspace
      parameters:
      - name: Authorization
        in: header
        description: Bearer authentication header of the form `Bearer <PHONIC_API_KEY>`. Manage your API keys [here](https://phonic.co/api-keys).
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workspace_update_Response_200'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized (authentication missing or invalid)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWorkspaceRequest'
components:
  schemas:
    UpdateWorkspaceRequest:
      type: object
      properties:
        logo_url:
          type:
          - string
          - 'null'
          description: URL of the workspace logo. Must be an https URL ending in .png or .svg, or null to clear it.
        invite_link_allowed_domains:
          type: array
          items:
            type: string
          description: Email domains allowed to join the workspace via invite link.
        ip_allowlist:
          type: array
          items:
            type: string
          description: IP addresses or CIDR ranges allowed to access the workspace.
      title: UpdateWorkspaceRequest
    workspace_get_Response_200:
      type: object
      properties:
        active_conversations:
          type: integer
          description: Number of conversations currently in progress for this workspace.
        max_active_conversations:
          type: integer
          description: Maximum number of concurrent conversations allowed for this workspace.
        logo_url:
          type:
          - string
          - 'null'
          description: URL of the workspace logo (PNG or SVG), or null if not set.
        invite_link_allowed_domains:
          type: array
          items:
            type: string
          description: Email domains allowed to join the workspace via invite link.
        ip_allowlist:
          type: array
          items:
            type: string
          description: IP addresses or CIDR ranges allowed to access the workspace.
      required:
      - active_conversations
      - max_active_conversations
      - logo_url
      - invite_link_allowed_domains
      - ip_allowlist
      title: workspace_get_Response_200
    ValidationError:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/ValidationErrorError'
        param_errors:
          type: object
          additionalProperties:
            type: string
          description: Parameter-specific validation errors
      required:
      - error
      - param_errors
      title: ValidationError
    BasicError:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/BasicErrorError'
      title: BasicError
    BasicErrorError:
      type: object
      properties:
        message:
          type: string
          description: Error message
        code:
          type: string
          description: Error code
      required:
      - message
      title: BasicErrorError
    ValidationErrorError:
      type: object
      properties:
        message:
          type: string
          description: Error message
      required:
      - message
      title: ValidationErrorError
    workspace_update_Response_200:
      type: object
      properties:
        success:
          type: boolean
      required:
      - success
      title: workspace_update_Response_200
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication header of the form `Bearer <PHONIC_API_KEY>`. Manage your API keys [here](https://phonic.co/api-keys).
